*,
::before
::after {
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
}

main{
    margin: 0;
    padding: 0;
    top:0%;
}

.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

body{
    font-family: "Pompiere", sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
    background: #61A09B;
    
}

/* ============================== */
/* HEADER */
/* ============================== */

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.head-logo{
    height: 65px;
}

.icone-profil{
    height: 35px;
    margin-right: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    width: 50vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

.head-profil{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

a:hover{
    color:orange;
}

.currentpage{
    text-decoration: underline;
}
