*,
::before
::after {
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
}

main{
    margin: 0;
    padding: 0;
    top:0%;
}

.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

body{
    font-family: "Pompiere", sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
    background: #61A09B;
    
}

/* ============================== */
/* HEADER */
/* ============================== */

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.head-logo{
    height: 65px;
}

.icone-profil{
    height: 35px;
    margin-right: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    width: 50vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

.head-profil{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

a:hover{
    color:#FF914D;
    background-color:#61A09B ;
}

.currentpage{
    text-decoration: underline;
}

/* ============================== */
/* HERO */
/* ============================== */

.cta{
    border-radius: 100px;
    background-color: #FF914D;
    padding: 10px 30px;
    width: 150px;
    text-align: center;
    font-size: 2rem;
}

button{
    color: white;
    font-family: "Pompiere", sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 1.5rem;
}

.hero-btn{
    margin-top: 60px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-title{
    margin-bottom: 0;
    color: #f1ead0;
}

.hero-text{
    margin-bottom: 0;
    width: 50vw;
    text-align: center;
}

.hero img{
    position: absolute;
    height:400px;
    width:400px;
}

.fourchette{
    top: 350px;
    right: -10px;
    rotate: 30deg;
}

.sandwich{
    top: 75px;
    left: 0px;
    rotate: 15deg;
}